body {
    background-image: url("WidgetCoLogo.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 255px;
    background-size: 700px 420px;
}
footer {
    text-align: right;
    border-top-style: solid;
    border-top-width: 1.5px;
    border-top-color: #b6b6b6;
    color: #b6b6b6;
    font-style: oblique;
    font-size: 19px;
    padding-top: 5px;
}
footer a:link {
    color: #929292;
}
aside {
    float: right;
    text-align: right;
    font-size: 20px;
    font-weight: lighter;
    border-right-style: solid;
    border-right-width: 20px;
    border-color: #446;
    padding-right: 15px;
    padding-top: 5px;
}
aside::first-line {
    font-weight: bold;
}
header {
    text-align: center;
    font-variant: small-caps;
    letter-spacing: 0.5px;
    padding: 5px;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 20px;
    font-size: 20px;
}
article {
    text-align: justify;
    line-height: 1.5;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 15px;
    font-size: 20px;
}
section {
    border-style: solid;
    border-width: 3px 3px 3px 42px;
    border-color: green;
    background-color: #ffffee;
    line-height: 1;
    word-spacing: 2px;
    font-size: 20px;
    padding: 10px 10px 10px 22px;
    letter-spacing: 1.5px;
}
section a:link {
    font-weight: bold;
}
h2 {
    font-style: italic;
    font-size: 33.5px;
    text-align: center;
    line-height: 1;
}
h1 {
    font-size: 58px;
    padding-right: 35px;
    padding-left: 25px;
    text-indent: -25px;
}